{% extends "TechGSfBaseprjBundle:GPanel:_base.html.twig" %}

    {% block seo_metadata %}
        <meta name="description" content="">
        <meta name="keywords" content="">    
        <title>gPanel :: Site control center</title>      
    {% endblock %}

    {% block navbar %}
        
        {% render url("gpanel_fragment_navbar", {'_locale': app.request.locale, 'route': app.request.get('_route') }) with {}, { 'standalone': true } %}           
        
    {% endblock %}

    {% block main_content %}
        <div class="container main">
            <div class="row">
                <div class="span2">
                    <br/>
                    <ul class="nav nav-tabs nav-stacked affix">
                        <li><a href="{{ path('gPanel_info', { '_locale': app.request.locale }) }}"><i class="icon-search"></i> Information</a></li>
                        <li><a href="{{ path('gPanel_info', { '_locale': app.request.locale }) }}"><i class="icon-cog"></i> Configuration</a></li>
                        <li><a href="{{ path('gPanel_live', { '_locale': app.request.locale }) }}"><i class="icon-refresh"></i> Live session</a></li>
                        <li><a href="{{ path('gPanel_sessions', { '_locale': app.request.locale }) }}"><i class="icon-refresh"></i> Storico session</a></li>
                    </ul>        
                </div>
                <div class="span10">
                    {% block main_container_content %}{% endblock %}
                </div>
            </div>
        </div>   
    {% endblock %}     
    
