{% extends 'TechGSfBaseprjBundle:GPanel:_layout.html.twig' %}

{% block main_container_content %}

    <h1 class="title">{{ "sessions.title" |trans }}</h1>
    <div class="livesession">
        {% for session in sessions %}
            {{session.html | raw}}  
        {% endfor %}
            
        {% for session in sessions %}
            {{ google_map_css(session.map) }}
            {{ google_map_js(session.map) }}               
        {% endfor %}    
    </div>    
{% endblock %}