/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 body { padding-top: 40px;}
 
/* PAGINA LIVE SESSION */
 
 
 /* RENDER SESSION */
.livesession .userImage { height: 75px; width: 75px; margin-right: 10px;  background: #FFF url(../img/gpanel/useranon.png) center center no-repeat;}
    .livesession .userImage.auth { background-image: url(../img/gpanel/userlogged.png)}
.livesession .userPosition { height: 75px; width: 75px; margin-left: 10px;}
 
 .livesession .geoInfo,
 .livesession .browserInfo { font-size: .8em; line-height: 1.4em;}
 
 .livesession .geoInfo .title,
 .livesession .browserInfo .title { font-size: 1.2em; font-weight: bold; border-bottom: 1px solid #CCC; display: block; margin-bottom: 2px; padding-bottom: 2px;}
 
  .livesession .geoInfo { width: 150px;}
 
 .livesession .userInfo { width: 375px; font-size: .9em;}
 .livesession .userInfo .name { font-weight: bold; font-size: 1.1em; }
 .livesession .userInfo .name .email { font-weight: normal; font-size: .9em; }
 .livesession .userInfo .sessionid { line-height: 1em; font-size: .85em; color: #999; margin-bottom: 3px; }
 
 .livesession .browserInfo { width: 200px; margin-right: 10px;}
 
