{% extends 'TechGSfBaseprjBundle::layout.html.twig' %}

{% block main_container_content %}
    <h1 class="title">{{ "live.title" |trans }}</h1>
    
    {% for sessione in sessioni %}
        {% render url("fragment_render_session", { 'session_id': sessione.id }) with { }, { 'standalone': true } %}  
    {% endfor %}    
    
{% endblock %}